@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

.button {
  border: 0.0625rem solid black;
  border-radius: 0.35rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.button--sm {
  width: 6rem;
  padding: 0.125rem;
  font-size: 0.8rem;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
}
.button--add {
  background-image: linear-gradient(127deg, #f3e5f5, #f3e5f5, #f3e5f5 65%);
  border-color: #9c27b0;
  color: #9c27b0;
  transition: all 300ms;
}
.button--add:hover, .button--add:active {
  background-image: linear-gradient(127deg, #4a148c, #9c27b0, #4a148c 65%);
  border-color: #f3e5f5;
  color: #f3e5f5;
}
.button--remove {
  background-image: linear-gradient(127deg, #ffebee, #ffebee, #ffebee 65%);
  border-color: #fb8c00;
  color: #fb8c00;
  transition: all 300ms;
}
.button--remove:hover, .button--remove:active {
  background-image: linear-gradient(127deg, #e65100, #fb8c00, #e65100 65%);
  border-color: #ffebee;
  color: #ffebee;
}
.button--disabled {
  background-image: linear-gradient(127deg, white, white, white 65%);
  border-color: gray;
  color: gray;
  transition: all 300ms;
  cursor: default;
}
.button--disabled:hover, .button--disabled:active {
  background-image: linear-gradient(127deg, gray, lightgray, gray 65%);
  border-color: white;
  color: white;
}

.section .input__button2 {
  width: 20%;
  align-self: center;
  background-image: linear-gradient(127deg, #f3e5f5, #f3e5f5, #f3e5f5 65%);
  border-color: #9c27b0;
  color: #9c27b0;
  transition: all 300ms;
}
.section .input__button2:hover, .section .input__button2:active {
  background-image: linear-gradient(127deg, #4a148c, #9c27b0, #4a148c 65%);
  border-color: #f3e5f5;
  color: #f3e5f5;
}
.section .products__button1 {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
.section .products__button2 {
  margin-right: 3vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.card__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-end;
  margin-bottom: 5px;
}

.card {
  width: 20vw;
  padding: 1vw;
  background-color: #B2B2E4;
  border: 1px solid #311b92;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.card__image {
  height: 40vh;
  max-width: fit-content;
  margin-bottom: 2px;
  border-radius: 3px;
  place-self: center;
}
.card__title {
  color: #311b92;
}
.card__text {
  font-weight: bold;
}
.card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card__price {
  font-weight: bold;
}
.card__price::before {
  content: "USD $";
}
.card__counter {
  font-weight: bold;
}
.card__shopping-cart {
  align-items: flex-end;
  place-self: center;
}

.slider {
  position: relative;
  height: 30vh;
  width: 300%;
  display: flex;
  animation-name: move-slide;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__title {
  position: absolute;
  font-size: 2rem;
  color: #e8eaf6;
  text-shadow: 3px 4px 2px #4a148c;
}
.slider__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

body {
  background-color: #ede7f6;
  display: grid;
  grid-template-areas: "header" "navbar" "main" "footer";
  gap: 1vw;
  padding: 0.5vw;
  width: 99vw;
}

.footer {
  margin-top: 10px;
  grid-area: footer;
  display: grid;
  place-items: center;
  text-shadow: 1px 1px 3px black;
}

.header {
  grid-area: header;
}
.header__logo {
  width: 10vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
}

.main {
  grid-area: main;
  background-color: #ede7f6;
  display: grid;
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
}
.main .section--products {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}
.main .section__title {
  grid-column-start: span 4;
  text-align: center;
  padding-top: 10px;
}
.main .section__products {
  grid-column-start: span 4;
  display: flex;
  justify-content: space-between;
}
.main .section__products .products__text {
  display: inline;
  width: 30vw;
}
.main .section__gallery {
  width: 100vw;
  grid-column: 1/5;
  grid-row: 3/7;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.navbar {
  grid-area: navbar;
  padding: 10px;
  background-color: #b39ddb;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.navbar__menu {
  display: flex;
  gap: 1vw;
}
.navbar__item--active {
  font-weight: bold;
  text-shadow: 1px 1px 1px #4a148c;
}
.navbar__icon {
  padding-right: 15px;
  margin-left: auto;
}

.home {
  height: 100vh;
  width: 100vw;
}

.about {
  padding: 5px;
}
.about__title {
  padding-bottom: 10px;
  text-align: center;
}
.about__card {
  margin: 10px;
  padding: 25px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #4a148c;
  background-color: #f3e5f5;
  display: flex;
  justify-content: space-between;
}
.about__text {
  width: calc(80% - 35px);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: justify;
}
.about__image {
  width: calc(20vw - 35px);
  height: min-content;
  float: right;
  border-radius: 7px;
  box-shadow: 5px 5px 15px #212121;
}

.alert {
  width: calc(100% - 0.5rem);
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.3rem;
  display: none;
  justify-content: space-between;
  font-size: 0.85rem;
}
.alert--success {
  background-color: #a5d6a7;
  border: 1px solid #28892f;
  color: #28892f;
  font-weight: bold;
  display: flex;
}
.alert--danger {
  background-color: #ef9a9a;
  border: 1px solid #cf3a3a;
  color: #cf3a3a;
  font-weight: bold;
  display: flex;
}
.alert__close {
  cursor: pointer;
}

.address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.address__data {
  margin-top: 2vh;
  line-height: 2rem;
  grid-column: 1/2;
  grid-row: 2/3;
}
.address--icon {
  margin-right: 5px;
}
.address__map {
  grid-column: 2/3;
  grid-row: 2/3;
}
.address__map iframe {
  border: 3px solid #e65100;
  border-radius: 10px;
}

.alert {
  width: calc(100% - 0.5rem);
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.3rem;
  display: none;
  justify-content: space-between;
  font-size: 0.85rem;
}
.alert--success {
  background-color: #a5d6a7;
  border: 1px solid #28892f;
  color: #28892f;
  font-weight: bold;
  display: flex;
}
.alert--danger {
  background-color: #ef9a9a;
  border: 1px solid #cf3a3a;
  color: #cf3a3a;
  font-weight: bold;
  display: flex;
}
.alert__close {
  cursor: pointer;
}

.section {
  width: max(80%, 80vw);
}
.section__title {
  margin-bottom: 4px;
}
.section__form {
  width: max(80%, 20vw);
  padding: 1vw;
  margin: 3vh;
  background-color: #c5cae9;
  line-height: 1.5em;
  border: 1px solid #3949ab;
  border-radius: 3px;
}
.section__form .input {
  width: 100%;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: column;
}
.section__form .input--radius {
  width: max(40%, 20vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section__form .input__validate:focus:valid {
  border: none;
  outline: 1px solid #28892f;
}
.section__form .input__validate:focus:invalid {
  border: none;
  outline: 1px solid #cf3a3a;
}
.section__form .input__error {
  color: #b71c1c;
  font-size: 0.75rem;
}/*# sourceMappingURL=main.css.map */