@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.about {
    padding: 5px;


    &__title {
        padding-bottom: 10px;
        text-align: center;
    }

    &__card {
        margin: 10px;
        padding: 25px;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 1px 1px 2px var.$backgroundColorDark;
        background-color: var.$backgroundColorLight;
        display: flex;
        justify-content: space-between;


    }

    &__text {
        width: calc(80% - (10px + 25px));
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: justify;


    }

    &__image {
        width: calc(20vw - (10px + 25px));
        height: min-content;
        float: right;
        border-radius: 7px;
        box-shadow: 5px 5px 15px var.$colorBoxShadow;
    }


}

@media (max-width: 1024px) {

    .about {

        &__card {
            flex-direction: column;
            align-content: center;
        }

        &__text {
            width: 100%;

        }

        &__image {
            width: 30vw;
            height: min-content;
            float: none;
            place-self: center;

        }

    }
}