@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;


.alert {
    width: calc(100% - (2 * 0.25rem));
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.3rem;
    display: none;
    justify-content: space-between;
    font-size: 0.85rem;

    &--success {
        background-color: var.$backgroundColorSuccess;
        border: 1px solid var.$colorOutlineSuccess;
        color: var.$colorOutlineSuccess;
        font-weight: bold;
        display: flex;
    }

    &--danger {
        background-color: var.$backgroundColorDanger;
        border: 1px solid var.$colorOutlineDanger;
        color: var.$colorOutlineDanger;
        font-weight: bold;
        display: flex;
    }

    &__close {
        cursor: pointer;
    }
}

.address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__data {
        margin-top: 2vh;
        line-height: 2rem;
        grid-column: 1 / 2;
        grid-row: 2 / 3;

    }

    &__map {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &__map iframe {
        border: 3px solid var.$backgroundColorDark2;
        border-radius: 10px;
    }
}

