@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main {
    grid-area: main;
    background-color: var.$backgroundColorMain;
    display: grid;
   
    .section {
        width: 100%;

        &--slider {
            overflow: hidden;
        }

        &__title {
            grid-column-start: span 4;
            text-align: center;
            padding-top: 10px;
        }

        &--products {
            width: 100vw;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1vw;
        }

        &__products {
            grid-column-start: span 4;

            &__form {
                display: inline;
            }
        }

        &__gallery {
            width: 100vw;
            grid-column: 1 / 5;
            grid-row: 3 / 7;
            display: flex;
            flex-wrap: wrap;
            gap: 2vw;
        }

    }
}