@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.card {
    width: 20vw;
    padding: 1vw;
    background-color: var.$backgroundColorCard;
    border: 1px solid var.$colorOulineCards;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    &__image {
        width: 15vw;
        height: min-content;
        margin-bottom: 2px;
        border-radius: 3px;
        place-self: center;
    }

    &__title {
        color: var.$textColorTitle;
    }

    &__text {
        font-weight: bold;
    }

    &__description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    &__price {
        font-weight: bold;

        &::before {
            content: "USD $";
        }
    }

    &__counter {
        font-weight: bold;
    }

    &__shopping-cart {
        align-items: flex-end;
        place-self: center;
    }
}