@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.card {
    width: 25vw;
    padding: 1vw;
    background-color: var.$backgroundColorCard;
    border: 1px solid var.$colorOulineCards;
    border-radius: 6px;

    &__image {
        height: 40vh;
        border-radius: 3px;
    }

    &__title {
        color: var.$textColorTitle;
    }

    &__text {
        font-weight: lighter;
    }

    &__description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    &__price {
        font-weight: bold;

        &::before {
            content: "USD ";
        }
    }
}