$backgroundColor:#9c27b0;
$backgroundColorDark: #4a148c;
$backgroundColorLight: #f3e5f5;
$backgroundColor2: #fb8c00;
$backgroundColorDark2: #e65100;
$backgroundColorLight2: #ffebee;

$backgroundColorSuccess: #a5d6a7;
$backgroundColorWarning: #fff59d;
$backgroundColorDanger: #ef9a9a;
$backgroundColorDisabled: #e0e0e0;
$backgroundColorNavbar: #b39ddb;
$backgroundColorMain: #ede7f6;
$backgroundColorCard: #B2B2E4;

$backgroundColorForms: #c5cae9;

$colorOutlineSuccess: #28892f;
$colorOutlineWarning: #f4b042;
$colorOutlineDanger: #cf3a3a;
$colorOutlineDisabled: #5d5b5b;
$colorOulineCards: #311b92;

$textColorSuccess: #1b5e20;
$textColorWarning: #f9a825;
$textColorDanger: #b71c1c;
$textColorDisabled: #424242;
$textColorTitle: #311b92;

$borderColorForm: #3949ab;

$colorBoxShadow: #212121;

